# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.High_Heels.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Repository Unity\High Heels Repository\High_Heels\.idea\.idea.High_Heels\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
